body{background: radial-gradient(dimgray, black);}
p{
    color: lime;
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    font-size: 17px;
}
h2{
    color: lightgreen;
    background: -webkit-linear-gradient(top, #c4ff6b 0%, #ff6347 50%, #ff4500 51%, #00FF00 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
span{color: lime;}
span {
    text-decoration: underline;
    font-family: "Monotype Corsiva";
    font-size: 16px;
}
ul{
    display: block;
    margin: 3px;
    padding: 0px;
	 list-style-type: none;
}
li{
    border: thin solid green;
    background: linear-gradient(45deg, black, black, dimgray, black);
}
li:hover{
    background: linear-gradient(45deg, dimgray, green);
}
